.movie-details-buttons {
    display: flex;
    align-content: center;
}

.movie-details-buttons > * {
    margin-right: 10px;
}

.movie-details-watch-button {
    width: 140px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;
}

.movie-details-like-button {
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    border-radius: 50%;
}