.popup-container{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: Montserrat;
    background: linear-gradient(180deg, #1B1C30 0%, rgba(0, 0, 0, 0.25) 100%, #857171 100%);
    overflow-x: scroll;
};

.popup-image{
    height: 330px;
    width: 100%;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    background-image: url('../assets/images/movieposter.png');
    background-size: cover;
    background-position: center center;
}