.review {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #b0b4ff;
    padding: 50px;
    background-color: #242540;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
  }
  
  .review-header {
    display: flex;
    align-items: center;
  }
  
  .review-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .review-user {
    display: flex;
    flex-direction: column;
  }
  
  .review-user h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .review-rating {
    display: flex;
    margin-top: 5px;
  }
  
  .star-icon {
    color: #ffdf27;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .review-actions {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  
  .review-actions button {
    margin-top: 5px;
    background-color: #fff;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #6A5BE2;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: Montserrat;
    margin-top: 10px;
  }
  
  .review-actions button:hover {
    background-color: #ccc;
  }
  
  .review-body {
    margin-top: 10px;
  }
  
  .review-body p {
    margin: 0;
  }
  
  .review-body textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    resize: none;
    font-family: Montserrat;
    font-size: 16px;
  }
  
  .review-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .review-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #6A5BE2;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: Montserrat;
    margin-top: 10px;
  }
  
  .review-buttons button:hover {
    background-color: #ccc;
  }

  .p{
    color: white;
    font-family: Montserrat;
    font-size: 19px;
  }