
.review {
    width: 100%;
    height: auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-bottom: 20px;
}

.reviewCard {
    background-color: #242540;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
}

.profile {
    left: 20px; 
    margin-left: 20px;
    height: 10px;
    width: 10px;
}

.reviewText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}