.review-card {
    border-radius: 10px;
    background-color: #3B3D68;

    width: 90%;

    margin: 1% 0 1% 0;
    padding: 1% 1% 1% 1%;
    display: flexbox;
}

.review-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 1%;

    font-family: 'Montserrat';
    font-size: 14px;
    color: #fff;
}

.review-header > * {
    margin: 0 1% 0 1%;
}