.movie-details-header {
    height: 330px;
    width: 100%;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    background-image: url('../assets/images/movieposter.png');
    background-size: cover;
    background-position: center center;
}

.movie-details-header > * {
    margin-bottom: 10px;
    margin-left: 5%;
}

.movie-details-title{
    font-weight: 700;
    font-size: 40px;
    font-family: Montserrat;
}

.movie-details-buttons {
    display: flex;
    align-content: center;
}

.movie-details-buttons > * {
    margin-right: 10px;
}

.movie-details-watch-button {
    width: 140px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;
}

.movie-details-like-button {
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    border-radius: 50%;
}