
.details-header {
    background-image: url("../assets/images/movieposter.png");
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100%;
    align-self: flex-start;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-left: 2%;
}

.details-header h1 {
    font-size: 32px;
    margin: 0;
}

.details-buttons {
    display: flex;
    align-content: center;
    align-items: baseline;   
}

.like-button {
    background-color: #fff;
    border: none;
    border-radius: 100%;
    display: inline;
    height: 30px;
    width: 30px;
}

.watch-button {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    display: inline;
    height: 30px;
    width: 100px;
}

.close-button {
    background-color: crimson;
    color: #fff;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

.details-buttons > * {
    margin-right: 2%;
}