.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(120deg, #B0B4FF, #1B1C30);
    font-family: Montserrat;
  }

  .Signup-form-container, .Signup-form, .register-form {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 600px) {
    .Signup-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
      position: absolute;
      width: 500px;
      left: 1000px;
      top: 310px;
      border-color: #B0B4FF;
      background-color: #1B1C30;
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
    color: white;
    font-family: Montserrat;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1.2rem;
    border: none;
    border-radius: 10px;
    color: #1B1C30;
    font-family: Montserrat;
    background-color: white;
   }
  
  button {
    border: none;
    background-color: #6A5BE2;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: Montserrat;
    margin-top: 10px;
  }
  
  .link-btn {
    background: none;
    color: #B0B4FF;
    text-decoration: underline;
    font-family: Montserrat;
  }

  .link-btn-two {
    background: none;
    color: #B0B4FF;
    text-decoration: underline;
    font-family: Montserrat;
    margin-top: -15px
  }

  h1 {
    color: white;
    font-family: Montserrat;
  }

  p {
    color: white;
    font-size: 16px;
    align-self: center;
    margin-top: 40px;
  }

  ::placeholder{
    color: #1B1C30;
  }