.App {
  text-align: center;
  background-color: #1B1C30;
  padding: 0;
}

body, html {
  margin: 0;
  background-color: #1B1C30;
}

h1 {
  font-family: 'Montserrat';
  font-size: 24px;
  color: #fff;
  margin: 0;
}

h2 {
  font-family: 'Montserrat';
  font-size: 20px;
  color: #fff;
}

h3 {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #fff;
}

p {
  font-family: 'Montserrat';
  font-size: 19px;
  color: #fff;
}